<footer class="mt-auto text-center text-lg-start">
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
        CREATED BY
        <a href="https://github.com/gluupo" target="_blank">ARIANNA BANKS</a>,
        <a href="https://github.com/dcrlsn" target="_blank">DAN CARLSON</a>
        AND
        <a href="https://github.com/bigzeus2005" target="_blank">JESUS ROSA</a>
    </div>
</footer>