<div class="card-footer">
    <footer class="footer mb-0 p-3">
        <div class="mx-auto">
            <p>
                CREATED BY
                <a href="https://github.com/gluupo" target="_blank">ARIANNA BANKS</a>,
                <a href="https://github.com/dcrlsn" target="_blank">DAN CARLSON</a>
                AND
                <a href="https://github.com/bigzeus2005" target="_blank">JESUS ROSA</a>
            </p>
        </div>
    </footer>
</div>