<nav class="navbar-nav navbar-dark bg-dark" id="searchbar">
    <div class="container-fluid mb-auto p-auto pb-3 w-50" id="searchBarContainer">
        <form class="input-group" id="searchForm">
            {{!-- <div class="dropdown input-group-prepend">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-expanded="false">

                    <div class="dropdown-menu input-group" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">genre</a>
                        <a class="dropdown-item" href="#">multiplayer</a>
                        <a class="dropdown-item" href="#">platform</a>
                    </div>
            </div> --}}
            <input class="form-control" type="search" placeholder="search" aria-label="Search" id="search">
            <button class="btn btn-outline-secondary" type="submit">search</button>
        </form>
    </div>
    <script src="/js/search.js"></script>
</nav>