<nav class="m-2">
    <form class="input-group my-2 my-sm-0">
        <div class="dropdown input-group-prepend">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-expanded="false">

                <div class="dropdown-menu input-group" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">genre</a>
                    <a class="dropdown-item" href="#">multiplayer</a>
                    <a class="dropdown-item" href="#">platform</a>
                </div>
        </div>
        <input class="form-control mr-lg-2" type="search" placeholder="search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">search</button>
    </form>
</nav>