<div class="container" id="gameReviewContainer">
  {{> game game}}
  {{#if loggedIn}}
  <div class="card mb-2" id="writeReviewCard">
    <form id="review">
      <h3>Write a Review</h3>
      <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="text">5 stars</label>
        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="text">4 stars</label>
        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="text">3 stars</label>
        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="text">2 stars</label>
        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="text">1 star</label>
      </div>
      <textarea class="form-control mb-3" rows="5" id="review-input-text" name="text"
        placeholder="Write your Review here" maxlength="500"></textarea>
      <button type="submit" class="btn btn-primary">Submit</button>
      <input type="hidden" id="user_id" name="user_id" value="{{user_id}}">
      <input type="hidden" id="game_id" name="game_id" value="{{game.id}}">
    </form>
  </div>
  {{/if}}
  {{#each game.reviews}}
  {{>reviewCard this}}
  {{/each}}
</div>
<script src="/js/review.js"></script>