*, html {
    font-family: 'Staatliches', cursive !important;
    font-size: 16px;
    color: #333;
}

footer a {
    text-decoration: none;
    color: rgb(119, 85, 151);
}

body {
    background-color: rgb(85, 85, 85);
}

h1 {
    padding-top: 15px;
    color: #333;
}

#logo {
    font-family: 'Staatliches', cursive !important;
    font-size: 42px;
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: rgb(119, 85, 151);
    padding-right: 30px;
    padding-left: 30px;
}

#homeButton {
    color: whitesmoke;
    text-decoration: none;
}


#infoWidget {
    flex: 0 auto;
    background-color:rgb(119, 85, 151);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
}

#gameReviewCard, #user, #searchbar {
    background-color: #333;
}

#user h1 {
    color: whitesmoke;
}

.container {
    border-radius: 5px;
    padding-bottom: 30px;
}

.container:nth-of-type(2n) {
    background-color: rgb(247, 247, 247);
}

.container:hover {
    background-color: rgb(170, 170, 170);
    transform: scale(99%);
    transition: all 300ms ease-in;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
  }


.row {
    margin: auto;
}