*, html {
    font-family: 'Inconsolata', monospace !important; 
    font-size: 16px;
}

#logo {
    font-family: 'Staatliches', cursive !important;
    font-size: 40px;
    color: whitesmoke;
}

.container {
    border: 2px solid lightgrey;
    border-radius: 20px;
    flex: auto;
    margin: 1rem;
    padding: 10px;
}

.container:hover {
    background-color: rgb(30, 201, 150);
}